<div class="container">

  <div class="upper-data">
    <img src="../../../assets/day.png" *ngIf="temp>=15">
    <img src="../../../assets/night.png" *ngIf="temp<15">
    <div class="weather-data">
      <div class="location">Kurnool</div>
      <div class="temperature">{{15.00 | number:'1.0-0'}}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More-info
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../../../assets/cool-thermo.png">
          <span>min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../../../assets/hot-thermo.png">
          <span>max</span>
        </div>
        <div class="info-block-value">20°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../../../assets/humidity.png">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../../../assets/wind.png">
          <span>Wind</span>
        </div>
        <div class="info-block-value">11Km/h</div>
      </div>
    </div>
  </div>

</div>
